{% extends "base.html" %}


{% block content %}

<div class="row d-f">
    <div class="intro col-6 text-center align-items-center">
        <h1>Bone Appetit</h1>
        <h3>Healthy and Tasty</h3>
				<h5>Discover culinary delights at our restaurant, where flavors come alive with every bite. From exquisite ambiance to impeccable service, savor unforgettable moments with every visit.</h5>
    </div>
    <div class="col-6">
        <img class="rest1" src="static/images/rest1.jpg" alt="intro">
    </div>
</div>

{% endblock content %}
