{%extends 'base.html'%}
{%block content%}
<h1 style="width:50%;margin:auto;">Your Daily Tasks Manager</h1>
<div class="d-flex flex-wrap justify-content-center px-5 pt-5">
  {% for task in data %}
  <div class="col-sm-4">
    <div class="card m-2">
      <div class="card-body">
        <h5 class="card-title">{{task.title}}</h5>
        <p class="card-text">{{task.description}}</p>
				<p>Assigned Time : {{task.date}}</p>
        
        <p>
          Category : {% for cat in task.category.all %} 
          <button class="btn btn-primary btn-sm m-2" disabled >{{cat.category_name}} </button>
          {% endfor %}
        </p>
				{%if task.completion %}
				<a href="{% url 'add_task' %}" class="btn btn-success">Completed</a>
				{% comment %} <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Delete</a> {% endcomment %}
         {%else%}
        <a href="{% url 'edit_task' task.id %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Delete</a>
				{% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{%endblock%}