{% extends "base.html" %}
{% block content %}
<div class="container justify-content-center align-items-center vh-100">
  <div class="row">
    <div class="col-md-12 justify-content-center align-items-center text-center ml-50">
			<h1>Bone Appetit</h1>
        <h3>Healthy and Tasty</h3>
				
      <img src="/static/images/rest2.jpg" class="abt img-fluid" alt="aboutus">
			<h2>About Us</h2>
			<h6>Discover culinary delights at our restaurant, where flavors come alive with every bite. Indulge in a symphony of tastes meticulously crafted by our talented chefs, offering a dining experience that delights the senses. From exquisite ambiance to impeccable service, savor unforgettable moments with every visit.</h6>
    </div>
  </div>
	<div>

	</div>
	<div>
		<ul>
			<p><strong>Location:</strong>Chandana,Gazipur</p>
			<p><strong>Owner:</strong>Meem</p>
			<p><strong>Contact:</strong>019832213</p>
			<p><strong>Email:</strong>hjg@gmail.com</p>
		</ul>
		
		</div>
</div>

{% endblock %}